configuration{
    modi: "drun";
    show-icons: true;
    //terminal: "kitty";
    terminal: "wezterm";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
}

@import "~/.cache/wal/colors-rofi-dark.rasi"

window {
  border: 1px solid;
  border-color: @foreground;
}
