* {
  /* `otf-font-awesome` is required to be installed for icons */
  /*font-family: "Noto Sans CJK KR Regular";*/
  font-family: "JetBrainsMono";
  /*font-family: "D2CodingLigature Nerd Mono";*/
  font-size: 16px;
  min-height: 0;
  /*color: @color9*/
}

@import url("colors.css");
@define-color textcolor @color9;

window#waybar {
  /* background: #3b4252; */
  background: @background;
  /*    background-color: rgba(43, 48, 59, 0.5); */
  /*    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: @textcolor;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}

#workspaces {
  padding: 2px 0;
  margin: 2px 1px;
}

#window {
  margin: 2px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 14px;
  font-weight: bold;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {}

#workspaces button {
  padding: 1px 2px;
  color: @textcolor;
  border-radius: 20px;
}

#workspaces button:hover {
  background: transparent;
  /*border-top: 2px solid #eceff4;*/
}

#workspaces button.focused {
  /*    box-shadow: inset 0 -2px #c9545d; */
  background-color: @textcolor;
  color: @background;
}

#workspaces button.active {
  /*    box-shadow: inset 0 -2px #c9545d; */
  /*background-color: rgba(235, 219, 178, 0.5);*/
  background-color: @textcolor;
  color: @background;
  border-radius: 20px;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727D;
  border-bottom: 3px solid @textcolor;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  margin: 2px;
  padding-left: 7px;
  padding-right: 7px;
  color: @textcolor;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#clock {
  font-weight: bold;
}

#battery icon {
  color: red;
}

#battery.charging,
#battery.plugged {
  /* color: @textcolor; */
  /* color: @foreground; */
  color: rgb(38, 166, 91);
  /* background-color: rgba(38, 166, 91, 1); */
}

@keyframes blink {
  to {
    background-color: @textcolor;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  color: #bd2a2a;
  /* background-color: rgba(245, 60, 60, 1); */
  /* color: @foreground; */
  /* animation-name: blink; */
  /* animation-duration: 0.5s; */
  /* animation-timing-function: linear; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#battery.critical:not(.charging) {
  background-color: rgba(245, 60, 60, 1);
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/*

window#waybar.solo {
background-color: #FFFFFF;
}

window#waybar.termite {
background-color: #3F3F3F;
}

window#waybar.chromium {
background-color: #000000;
border: none;
}
 */
